body
  margin: 0
  width: 100vw
  min-width: 600px
  height: 100vh
  overflow: hidden
  padding: 0
  position: relative
  background: linear-gradient(360deg, #dff4f1, #bff1f4)
  box-sizing: border-box

p, div, input, button, a
  font-family: 'M PLUS Rounded 1c', sans-serif
  letter-spacing: 0.1rem
  color: #2e1303

button:hover,
input:hover,
a:hover
  cursor: pointer
  opacity: .85
  transition-duration: .2s

.body
  height: calc(100% - 90px)
  display: flex
  justify-content: center
  align-items: center
  padding: 0 20px

header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem
  line-height: 1rem

  h1.app_title
    margin: 0
    padding: 0

    > a
      font-family: 'Cherry Bomb One', cursive
      font-size: 2.6rem
      color: #2e1303
      text-decoration: none

footer
  position: absolute
  bottom: 0
  width: 100%
  border-bottom: 30px solid #23b336

#comment
  position: absolute
  right: 70px
  bottom: 65px
  padding: 3px 10px
  border-radius: 10px
  background: #fff

  &::after
    content: ''
    position: absolute
    top: 19px
    right: 21px
    border: 10px solid transparent
    border-right: 10px solid #fff
