.history
  height: 90%
  overflow: scroll

  .history_table
    td
      padding: 3px 6px

      a
        text-decoration: none
        font-size: 1rem

  .history_restart
    padding: 1px 16px
    border-radius: 10px
    font-size: 1rem
    font-weight: bold
    color: #fff
    background: #f19090

  .history_delete
    border: none
    background: none
    font-size: .8rem

  @keyframes overlay-fadeout
    from
      opacity: .8
    to
      opacity: 0
      display: none

  .history_overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #000
    z-index: 1
    animation-name: overlay-fadeout
    animation-duration: 5s
    animation-fill-mode: forwards
    animation-timing-function: ease-in-out

  @keyframes success_message
    0%
      top: -400px
      transform: rotate(320deg)
    25%
      top: 0
      transform: rotate(28deg)
    40%
      top: calc(50% - 300px)
      transform:rotate(0)
    42%
      top: calc(50% - 320px)
      transform: rotate(0)
    44%
      top: calc(50% - 300px)
      transform:rotate(0)
    46%
      top: calc(50% - 320px)
      transform:rotate(0)
    48%
      top: calc(50% - 300px)
      transform:rotate(0)
    60%
      top: calc(50% - 300px)
      transform:rotate(0)
    70%
      top: 50%
      transform:rotate(0)
    100%
      top: 100vh
      transform:rotate(0)

  .history_success
    position: absolute
    left: calc(50% - 200px)
    right: calc(50% - 200px)
    transform:rotate(0)
    width: 400px
    animation-name: success_message
    animation-duration: 4s
    animation-fill-mode: forwards
    animation-timing-function: linear
    z-index: 2
