.history
  height: 90%
  overflow: scroll
  
  .history_table
    td
      padding: 3px 6px

      a 
        text-decoration: none
        font-size: 1rem

  .history_restart
    font-size: 1.2rem
    font-weight: bold

  .history_delete
    border: none
    background: none
    font-size: .8rem
