.home
  display: flex
  justify-content: center
  align-items: center
  padding: 20% 20px 0

  .home_links
    text-align: center

    .home_links_new
      margin-bottom: 40px
      padding: 20px 40px
      border: none
      border-radius: 10px
      background: #f19090
      font-size: 2.5rem
      
    .home_links_index
      display: inline-block
      padding: 10px 40px
      border-radius: 10px
      background: #fff
      text-decoration: none
      font-size: 1.2rem
