.puzzle
  $border-color: #777;

  .puzzle_row
    display: grid
    grid-template-columns: repeat(9, 3rem)
    grid-template-rows: 3rem
    width: 27rem
    margin: 0 auto
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    border-left: 3px solid $border-color
    font-size: 1.5rem
    text-align: center

    &:nth-of-type(1)
      border-top: 3px solid $border-color

    &:nth-of-type(3n)
      border-bottom: 3px solid $border-color

  .puzzle_column
    display: flex
    justify-content: center
    align-items: center

    &:not(:last-child)
      border-right: 1px solid $border-color

    &:nth-child(3n)
      border-right: 3px solid $border-color

    &.wrong
      background-color: #e06565

  .puzzle_column_input
    width: 100%
    height: 92%
    box-sizing: border-box
    border: none
    text-align: center
    font-size: 1.5rem
    background: none

  .puzzle_column_input::-webkit-inner-spin-button,
  .puzzle_column_input::-webkit-inner-spin-button,
  .puzzle_column_input[type="number"]
    -webkit-appearance: none !important
    -moz-appearance:textfield !important
