.puzzle {
  .puzzle_row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 20rem;
    font-size: 1.5rem;
    border: 1px solid #777;
    text-align: center;
  }

  .puzzle_column {
    &:not(:last-child) {
      border-right: 1px solid #777;
    }
  }
}
